options -indexes
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(midominio.com)(:80)? [NC]
RewriteRule ^(.*) http://www.midominio.com/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html